<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylelogin.css">
    <title>Login</title>
</head>
<body>
    <header>
        <a class="header1" href="/index"><img src="static/imgs/logo.png" alt="" width="40px" height="40px"><h1> HOTELERÍA</h1></a>
        <a class="header1" href=""><img src="static/imgs/help.png" alt="" width="30px" height="30px"><p>&nbspAYUDA</p></a>
    </header>
    <center><section>
        <div class="login">
            <img src="static/imgs/login.png" alt="" width="40px" height="40px"><h1>INGRESO</h1>
        </div>
        <div class="line"></div>
        <p>USUARIO</p>
        <input class="input" type="text" placeholder="Ingresa tu nombre">
        <p>CONTRASEÑA</p>
        <input class="input" type="text" placeholder="Ingresa tu contraseña">
        <div class="login">
            <a href="https://accounts.google.com/InteractiveLogin/signinchooser?elo=1&ifkv=AWnogHfXsQFQbdqNWTeEQ0a146iIa-7h8P581VlHMnANohUMSWmJ6TJsraaeQBj0E8-3AoBMEYNCBw&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><img class="header1" src="static/imgs/google.png" alt=""></a>
            <a href="https://es-la.facebook.com/"><img class="header1" src="static/imgs/facebook.png" alt=""></a>
        </div>
        <a class="buttom" href="/index">ENTRAR</a>
        <h6>No tengo una cuenta. <a href="/registroApr">Crear una</a></h6>
    </section></center>
    
</body>
</html>